.pattern-bar {
    background-image: url("/static/assets/images/pattern.jpg");
    background-repeat: repeat-x;
    min-height:10em;

}

.pattern-bar > h1 {
    color:white;
    margin:2em;
    font-size:2em;

}

