{% extends main.html %}

{% block nav %}
{% include nav.html %}
{% end %}

{% block image %}
{% include image.html %}
{% end %}

{% block footer %}
{% include footer.html %}
{% end %}

{% block content %}


<section id="content">
    <div class="container">
        <div class="mb-auto">
            <div class="row">
                <div class="jumbotron w-100">
                    <h1>Receptenblog</h1>
                    <p>Een verzameling van al mijn recepten</p>
                </div>
            </div>
        </div>
        <div class="row">
            <p> Deze blog zal ik, Djamilla Simoens, gebruiken om al mijn recepten op te lijsten.
                Bij ieder recept zal ik de nodige ingrediënten beschrijven. Daarnaast zal ik kort en bondig uitleggen hoe je te werk moet gaan.
                Ik zal ook vermelden welke recepten gezond zijn en welke je kunt maken om te zondigen.

                Veel kook- en bakplezier!
            </p>
        </div>
    </div>
</section>

{% end %}
