{% extends main.html %}

{% block nav %}
{% include nav.html %}
{% end %}

{% block image %}
{% include image.html %}
{% end %}

{% block footer %}
{% include footer.html %}
{% end %}

{% block content %}

<body>
<div class="container">
    <div>
        <form action="/login-action" method="post">
            <div class="form-group">
                <label for="user-name">User name</label>
                <input type="text" id="user-name" name="user-name">
                <div class="invalid-feedback" id="invalid_feedback_user">

                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <div class="invalid-feedback" id="invalid_feedback_pass">
                    <!--Dynamisch-->
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Submit">
            <input type="button" class= "btn btn-info" value="Cancel">

        </form>
    </div>

</div>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
    const windowUrl = window.location.search;
    const urlParams = new URLSearchParams(windowUrl);
    const error = urlParams.get("err");
    const invalid_feedback_user = $("#invalid_feedback_user");
    const invalid_feedback_pass = $("#invalid_feedback_pass");
    
    switch (error) {
        case "user not ok":
            invalid_feedback_user.show();
            invalid_feedback_user.text("User name not valid. May only blabla");
            break;
        case "pass not ok":
            invalid_feedback_pass.show();
            invalid_feedback_pass.text("Password not valid. May only blabla");
            break;
        case "user not found":
            invalid_feedback_user.show();
            invalid_feedback_user.text("User is not found.");
            break;
        case "pass not correct":
            invalid_feedback_pass.show();
            invalid_feedback_pass.text("Password is not correct. Pleas don't try to hack.");
            break;
    }
</script>
</body>
</html>

{% end %}