{% extends main.html %}

{% block nav %}
{% include nav.html %}
{% end %}

{% block image %}
{% include image.html %}
{% end %}

{% block footer %}
{% include footer.html %}
{% end %}

{% block content %}


<head>
    <meta charset="UTF-8">
    <title>Static page</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/static/style.css"/>

</head>
<body>
<div class="container">
    <div>
        <form action="/login-action" method="post">
            <h1></h1>
            <div class="form-group">
                <label for="first-name">First name</label>
                <input type="text" id="first-name" name="first-name">
            </div>
            <div class="form-group">
                <label for="last-name">Last name</label>
                <input type="text" id="last-name" name="last-name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="user-name">User name</label>
                <input type="text" id="user-name" name="user-name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>

            <input type="submit" class="btn btn-primary" value="Submit">
            <input type="button" class= "btn btn-info" value="Cancel">

        </form>
    </div>

</div>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>

{% end %}