{% extends main.html %}

{% block nav %}
{% include nav.html %}
{% end %}

{% block image %}
{% include image.html %}
{% end %}

{% block footer %}
{% include footer.html %}
{% end %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Incorrect Password</title>
</head>
<body>

<h3>Password is incorrect, please try again.</h3>

<div class="container">
    <div>
        <form action="/login-action" method="post">
            <div class="form-group">
                <label for="user-name">User name</label>
                <input type="text" id="user-name" name="user-name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>

            <input type="submit" class="btn btn-primary" value="Submit">
            <input type="button" class="btn btn-info" value="Cancel">

        </form>
    </div>
</body>
</html>

{% end %}